@font-face {
    font-family: 'GameFont';
    src: local('GameFont'), url('VisitorRus.woff') format('woff');
}

html, body {
    background-color: black;
    height: 100%;
    margin: 0;
}

a {
    font-family: 'GameFont';
    color: rgb(199, 86, 11);
    text-decoration: none;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    height: 100px;
    width: auto;
    background-color: rgb(11, 11, 11);
    border: 1px solid rgb(199, 86, 11);
}

.gamelogo img {
    height: 100px;
    width: 200px;
}

.info {
    display: flex;
    height: 100px;
    width: 1000px;
}

.infotext {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 250px;
}

.infotext img {
    width: 35px;
    height: 35px;

    vertical-align: middle;
}

.infotext a {
    font-size: 22px;
}

.infotext .altcolor {
    color: rgb(42, 120, 230);
}

.main {
    background-image: url('background.png');
    background-position: 50%;
    background-size: 1200px 800px;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 1000px;
    width: auto;
}

.screenshots {
    display: flex;
    justify-content: space-around;
    width: auto;
    height: 300px;
    margin: 60px;
}

.screenshots img {
    width: 500px;
    height: 300px;
    border: 1px solid rgb(199, 86, 11);
}

.cubedecorations {
    display: flex;
    justify-content: center;
    height: 25px;
    gap: 15px;
}

.cubedecorations .cube {
    background-color: rgb(199, 86, 11);
    width: 25px;
    height: 25px;
}

.cube:hover {
    background-color: rgb(42, 120, 230);
}

.description {
    font-size: 30px;
    text-align: center;
    margin: 30px 25%;
}

.preorder {
    font-size: 40px;
    margin: 0 auto;
    color: rgb(42, 120, 230);
}

.preorderbutton {
    display: flex;
    height: 70px;
    width: 200px;
    margin: 10px auto;
    background-color: rgb(42, 120, 230);
    border: 2px solid rgb(42, 120, 230);
}

.preorderbutton a {
    font-size: 25px;
    margin: auto;
    color: black;
}

.preorderbutton:hover {
    background-color: rgb(84, 155, 254);
    border: 2px solid rgb(84, 155, 254);
}

.privacypolicy {
    font-size: 15px;
    margin: 0 auto;
    color: white;
}

footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: sticky;
    top: 100vh;
    margin-top: auto;
    
    height: 200px;
    width: 100%;
    background-color: rgb(11, 11, 11);
    border: 1px solid rgb(199, 86, 11);
    
}

.card {
    padding: 15px 40px;
}

.card h1 {
    font-family: 'GameFont';
    color: rgb(199, 86, 11);
    text-decoration: underline;
}

.card a {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}
